.portfolioContainer {
    text-align: center;
    padding-bottom: 2.5rem;

    h1 {
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        color: #64748b;
    }
}

.companiesContainer {
    display: flex;
    width: 1120px;
    margin: 0 auto;
    justify-content: center;

    img {
        width: 180px;
    }
}